a
{
color:red;
font-family:Chiller ;
font-size:50px;

font-weight:bold;
text-decoration:none;

}
body{
background-size:100% 710px;
border:3px rgb(51,36,108);
color:white;

#div{
color:red;
}
